@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Common styles to all shadow-DOM components
// Remove this section if your component does not use shadow DOM
// -------------------------------------------------
:host {
  display: block;
}

:host([hidden]) {
  display: none;
}
// ------------- END Common styles -----------------

// Mixins
// -------------------------------------------------
@mixin set-border($border-color, $border-width: tokens.$plmg-border-width-s) {
  border: $border-width solid $border-color;
}
// ------------- END Mixins ------------------------

// Component style
// -------------------------------------------------
main-tag {
  // Fixed styles

  // Controls
}
// ------------- END Component style ---------------
