@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Common styles to all shadow-DOM components
// Remove this section if your component does not use shadow DOM
// -------------------------------------------------
:host {
  display: block;
}

:host([hidden]) {
  display: none;
}
// ------------- END Common styles -----------------

// Component style
// -------------------------------------------------
.plmg-page-container {
  // Fixed styles
  width: 100%;
  height: 100%;
  // Controls
}
// ------------- END Component style ---------------
