@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Common styles to all shadow-DOM components
// Remove this section if your component does not use shadow DOM
// -------------------------------------------------
:host {
  display: block;
}

:host([hidden]) {
  display: none;
}
// ------------- END Common styles -----------------

@mixin set-background-color($background-color) {
  background-color: $background-color;
  border-top-color: $background-color;
}

@mixin arrow-position($arrow-postion) {
  left: $arrow-postion;
}

// @mixin set-arrow-color($arrow-color, $arrow-direction, $arrow-position) {

//   &::after {
//     content: '';
//     position: absolute;
//     top: 100%;
//     left: 25%;
//     width: 0;
//     height: 0;
//     border: .5em solid transparent;
//     transform: translate(-50%, 0);
//     border-top-color: $arrow-color;
//   }
// }

// ------------- END Mixins ------------------------

// Component style
// ------------------------------------------------

.plmg-tool-tip {
  // Fixed styles
  font-family: tokens.$plmg-font-family-sans;
  font-style: normal;
  font-weight: tokens.$plmg-font-weight-regular;
  font-size: tokens.$plmg-font-size-x0_75;
  line-height: tokens.$plmg-font-lineheight-loose;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: tokens.$plmg-spacing-x0-25 tokens.$plmg-spacing-x0-5;
  border-radius: tokens.$plmg-border-radius-s;
  overflow: wrap;
  text-align: center;
  width: fit-content;
  height: auto;
  max-width: 150px;
  color: tokens.$plmg-color-text-neutral-inverted;
  position: absolute;

  &.neutral {
    // must be changed to correct token
    @include set-background-color(#00545d);
  }

  &.primary {
    // must be changed to correct token
    @include set-background-color(#263238);
  }

  &.arrow::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    transform: translate(-50%, 0);
    border-top-color: brown;

    &.start {
      @include arrow-position(25%);
    }

    &.middle {
      @include arrow-position(50%);
    }

    &.end {
      @include arrow-position(75%);
    }
  }
}

// .end {
//   background-color: aqua;
// }

// .start {
//   background-color: rgb(255, 196, 236);
// }

// ::slotted([slot='slot-1']) {
//   align-self: stretch;
// }

// main-tag {
//   // Fixed styles
//   ...

//   // Controls
//   ...

//   // States
//   &:hover {
//   }
//   &:active {
//   }
//   &:focus-visible {
//   }
// }
// ------------- END Component style ---------------
