@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;
:host {
  height: inherit;
  background-color: inherit;
  width: inherit;
}

:host([hidden]) {
  display: none;
}
@mixin set-typography {
  font-family: tokens.$plmg-font-family-sans;
  font-weight: tokens.$plmg-font-weight-regular;
  font-size: tokens.$plmg-font-size-x0-75;
  line-height: tokens.$plmg-font-lineheight-loose;
  color: tokens.$plmg-color-text-neutral;
}

// ------------- END Common styles -----------------

// Mixins
// -------------------------------------------------

.plmg-slider-mark-container {
  @include set-typography;
  width: 100%;
  height: 100%;
  position: relative;
}

.plmg-slider-mark-label-item {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: absolute;

  .plmg-slider-tick {
    background-color: tokens.$plmg-color-background-neutral-strong;
    width: 2px;
    height: 4px;
    margin-bottom: 8px;
    z-index: -1;
  }
}

// ------------- END Component style ---------------
