@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Component style
// -------------------------------------------------

.plmg-progress-step {
  // reset default button styles
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  // remove button styling
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  // Common typography
  font-family: tokens.$plmg-font-family-sans;
  font-style: normal;
  line-height: tokens.$plmg-font-lineheight-loose;

  &.disabled,
  &.active {
    cursor: default;
  }

  &:hover > .plmg-progress-stepper-circle {
    &:not(.disabled):not(.completed):not(.active) {
      border: tokens.$plmg-border-width-m solid
        tokens.$plmg-color-border-standout;
    }
    &.completed {
      background-color: tokens.$plmg-color-border-info-strong;
    }
  }
}

.plmg-progress-stepper-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: tokens.$plmg-border-radius-circle;
  height: 24px;
  width: 24px;
  background: tokens.$plmg-color-background-neutral;
  border: tokens.$plmg-border-width-m solid tokens.$plmg-color-border-neutral;
  color: tokens.$plmg-color-text-neutral-weak;
  font-weight: tokens.$plmg-font-weight-regular;
  box-sizing: border-box;

  &.active {
    background: tokens.$plmg-color-decoration-standout;
    border: tokens.$plmg-border-width-m solid
      tokens.$plmg-color-decoration-standout;
    color: tokens.$plmg-color-icon-neutral-inverted;
    font-weight: tokens.$plmg-font-weight-semibold;
  }

  &.disabled {
    color: tokens.$plmg-color-text-neutral-disabled;
  }

  &.completed {
    background-color: tokens.$plmg-color-border-info;
    border: none;
    color: tokens.$plmg-color-icon-neutral-inverted;
  }

  @media only screen and (min-width: tokens.$plmg-breakpoint-xl) {
    height: 32px;
    width: 32px;
    font-size: tokens.$plmg-font-size-x1-125;
  }
}

.plmg-progress-stepper-circle-content {
  font-size: tokens.$plmg-font-size-x0_875;
}

.plmg-progress-stepper-separator {
  width: 40px;
  padding-top: tokens.$plmg-spacing-x0_75;
}

.plmg-progress-stepper-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: tokens.$plmg-font-size-x0_875;
  font-weight: tokens.$plmg-font-weight-regular;
  color: tokens.$plmg-color-text-neutral;

  padding: 0 tokens.$plmg-spacing-x0_5;
  white-space: nowrap;

  &.active {
    font-weight: tokens.$plmg-font-weight-semibold;
  }

  &.disabled {
    color: tokens.$plmg-color-text-neutral-disabled;
  }

  &.completed {
    color: tokens.$plmg-color-text-neutral;
  }

  @media only screen and (min-width: tokens.$plmg-breakpoint-xl) {
    font-size: tokens.$plmg-font-size-x1-125;
  }
}

.plmg-progress-stepper-description {
  font-weight: tokens.$plmg-font-weight-regular;
  font-size: tokens.$plmg-font-size-x0_75;

  @media only screen and (min-width: tokens.$plmg-breakpoint-xl) {
    font-size: tokens.$plmg-font-size-x1;
  }
}
