@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Common styles to all shadow-DOM components
// Remove this section if your component does not use shadow DOM
// -------------------------------------------------
:host {
  display: block;
  height: inherit;
  width: inherit;
}

:host([hidden]) {
  display: none;
}
// ------------- END Common styles -----------------

// Component style
// -------------------------------------------------
.plmg-separator-container {
  display: flex;
  width: inherit;
  height: inherit;
}

.plmg-separator {
  display: block;
  border-radius: tokens.$plmg-border-radius-xl;
  border-color: tokens.$plmg-border-neutral;

  &.horizontal {
    width: 100%;
    height: 100%;
  }
  &.thick {
    border-width: tokens.$plmg-border-width-m;
  }
  &.thin {
    border-width: tokens.$plmg-border-width-s;
  }
}

// ------------- END Component style ---------------
