@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Common styles to all shadow-DOM components
// Remove this section if your component does not use shadow DOM
// -------------------------------------------------
:host {
  display: block;
  height: inherit;
  width: inherit;
}

:host([hidden]) {
  display: none;
}
// ------------- END Common styles -----------------

// Component style
// -------------------------------------------------

.plmg-separator {
  display: block;
  background-color: currentColor;
  border-radius: tokens.$plmg-border-radius-xl;
  border: none;

  &.horizontal {
    width: 100%;
    height: tokens.$plmg-border-width-s;

    &.thick {
      height: tokens.$plmg-border-width-m;
    }
  }

  &.vertical {
    height: 100%;
    width: tokens.$plmg-border-width-s;

    &.thick {
      width: tokens.$plmg-border-width-m;
    }
  }
}

// ------------- END Component style ---------------
