@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// // Mixins
// // -------------------------------------------------
// @mixin set-border($border-color, $border-width: tokens.$plmg-border-width-s) {
//   border: $border-width solid $border-color;
// }
// // ------------- END Mixins ------------------------

// Component style
// -------------------------------------------------

.plmg-slider-component-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  column-gap: 24px;
  row-gap: 8px;
  grid-template-rows: auto;
  font-family: tokens.$plmg-font-family-sans;
  font-weight: normal;
  flex-direction: column;
  color: tokens.$plmg-color-text-neutral;

  grid-template-areas:
    'thumblabel inputfield'
    'trackrail inputfield'
    'marklabels .';
}

.plmg-slider-track-rail-container {
  grid-area: trackrail;
  position: relative;

  input {
    font-size: 18px;
    background: tokens.$plmg-color-background-neutral;
    height: 4px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0;
    padding-right: 3px;

    &:hover &:focus &:active {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: tokens.$plmg-color-background-primary-strong;
      top: 10px;
      left: 10px;
      outline: 10px solid hsl(186, 100%, 33%, 0);
      transition: outline 0.2s;

      &:hover {
        outline: 10px solid hsl(186, 100%, 33%, 0.2);
      }
      &:focus-visible {
        outline: 4px solid #ffad33;
      }
      &:active {
        outline: 10px solid hsl(186, 100%, 33%, 0.4);
      }
    }
  }

  input::-moz-range-track {
    height: 6px;
    border: none;
    border-radius: 3px;

    &:hover {
      outline: none;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      border: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #008290;

      &:hover {
        outline: 10px solid hsl(186, 100%, 33%, 0.2);
      }
      &:focus-visible {
        outline: 4px solid #ffad33;
      }
      &:active {
        outline: 10px solid hsl(186, 100%, 33%, 0.4);
      }
    }
  }
}

.plmg-slider-thumb-label-container {
  grid-area: thumblabel;
  position: relative;
  height: 26px;

  .plmg-slider-thumb-label {
    left: 50%;
    transform: translateX(-50%);
    background: tokens.$plmg-color-background-primary-strong;
    color: tokens.$plmg-color-text-neutral-inverted;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    text-align: center;

    &.hidden {
      visibility: hidden;
    }

    // Create downarroww
    &::after {
      content: '';
      position: absolute;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid tokens.$plmg-color-background-primary-strong;
      top: 100%;
      margin-left: calc(-50% + 3px);
    }
  }
}

.plmg-slider-mark-labels-container {
  width: 100%;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  justify-content: space-between;
  height: auto;
  overflow: hidden;

  &.plmg-slider-mark-label-item:before {
    content: '';
    width: 0;
    height: auto;
    text-indent: 0;
  }
}

.plmg-slider-input-field-container {
  grid-area: inputfield;

  input {
    box-sizing: border-box;
    border: 1px solid tokens.$plmg-color-border-neutral-weak;
    padding: 12px 16px;
    background-color: tokens.$plmg-color-background-neutral;
    color: #263238;
    outline: none;
    box-shadow: tokens.$plmg-shadow-inner-s;
    border-radius: 4px;
    font-size: 18px;
  }
}

// Controls

// ------------- END Component style ---------------
