@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Common styles to all shadow-DOM components
// Remove this section if your component does not use shadow DOM
// -------------------------------------------------
:host {
  display: block;
  font-size: tokens.$plmg-font-size-x0-75;
}

:host([hidden]) {
  display: none;
}

@mixin set-typography {
  font-family: tokens.$plmg-font-family-sans;
  font-weight: tokens.$plmg-font-weight-regular;
  font-size: tokens.$plmg-font-size-x0-75;
  line-height: tokens.$plmg-font-lineheight-loose;
  color: tokens.$plmg-color-text-neutral;
}

@mixin set-background {
  background-color: tokens.$plmg-color-background-primary-strong;
  color: tokens.$plmg-color-text-neutral-inverted;
  outline: 10px solid hsl(186, 100%, 33%, 0);
}
@mixin set-states {
  &:hover {
    $hover-opacity: 0.2;
    outline: 10px solid
      rgba(tokens.$plmg-color-decoration-primary, $hover-opacity);
  }
  &:focus {
    outline: 4px solid rgba(tokens.$plmg-color-border-standout, 1);
  }
  &:active {
    $active-opacity: 0.4;
    outline: 10px solid
      rgba(tokens.$plmg-color-decoration-primary, $active-opacity);
  }
}

// ------------- END Common styles -----------------

// Mixins
// -------------------------------------------------
$track-w: 12.5em;
$track-h: 0.33em;
$thumb-d: 1.5em;
$track-c: #ccc;
$dist: $track-w - $thumb-d;

@mixin track() {
  box-sizing: border-box;
  border: none;
  width: $track-w;
  height: $track-h;
  background: $track-c;
  border-radius: 0.25em;
}

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: $thumb-d;
  height: $thumb-d;
  border-radius: 50%;
  @include set-background;
  @include set-states;
}

.plmg-slider-container {
  display: flex;

  flex-direction: column;
  position: relative;
  height: 3.5 * $thumb-d;
  @include set-typography;

  input[type='range'] {
    &,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &:hover &:focus &:active {
      outline: none;
    }

    flex: 1;
    margin: 0;
    padding: 0;
    min-height: $thumb-d;
    background: transparent;
    font: inherit;

    &::-webkit-slider-runnable-track {
      @include track;
    }
    &::-moz-range-track {
      @include track;
    }
    &::-ms-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      margin-top: 0.5 * ($track-h - $thumb-d);
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      margin-top: 0;
      @include thumb;
    }

    &::-ms-tooltip {
      display: none;
    }
  }

  output {
    display: none;
    margin-top: -1em;

    &.plmg-slider-thumb-label {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0.5 * $thumb-d;
      top: 0;
      padding: 4px 8px;
      border-radius: 4px;

      @include set-background;

      .plmg-thumb-triangle {
        position: absolute;
        align-self: center;
        top: 100%;

        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid tokens.$plmg-color-background-primary-strong;
      }
    }
  }

  .labels {
    position: relative;
    .label {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0.5 * $thumb-d;
      z-index: -1;

      .tick {
        background-color: tokens.$plmg-color-background-neutral-strong;
        width: 2px;
        height: 4px;
        margin-bottom: 8px;
      }
    }
  }
}
