@use '~@ducky/plumage-tokens/dist/scss/default' as tokens;

// Component style
// -------------------------------------------------
.plmg-sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: tokens.$plmg-shadow-s;
  padding-bottom: tokens.$plmg-spacing-x1-5;
  background: tokens.$plmg-background-neutral;

  position: fixed;
  height: 100vh;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;

  transition: 0.2s;

  .plmg-sidebar-top {
    display: flex;
    height: 99px - 2 * tokens.$plmg-spacing-x1-5;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: tokens.$plmg-spacing-x1-5 0 tokens.$plmg-spacing-x1-5
      tokens.$plmg-spacing-x1-5;

    .plmg-sidebar-home-link {
      color: inherit;
      text-decoration: inherit;

      .plmg-sidebar-logo {
        max-height: 40px;
        max-width: 160px;
      }
    }
  }

  // Controls
  &.plmg-sidebar-expanded {
    // Breakpoints
    /* Extra small devices */
    @media only screen and (min-width: tokens.$plmg-breakpoint-xs) {
      width: tokens.$plmg-breakpoint-m * 0.25;
    }
    /* Small devices */
    @media only screen and (min-width: tokens.$plmg-breakpoint-s) {
      width: tokens.$plmg-breakpoint-m * 0.25;
    }
    /* Medium devices */
    @media only screen and (min-width: tokens.$plmg-breakpoint-m) {
      width: 25vw;
    }
    /* Large devices */
    @media only screen and (min-width: tokens.$plmg-breakpoint-l) {
      width: 25vw;
    }
    /* Extra large devices */
    @media only screen and (min-width: tokens.$plmg-breakpoint-xl) {
      width: 360px;
    }
  }
}
// ------------- END Component style ---------------
